.container {
    margin-top: 20px;
}

.field {
    margin-right: 20px;
    span {
        margin-left: 2px;
        margin-right: 2px;
        color: #494F58;
    }
}

.button {
    text-align: center;
    margin-right: 12px;
    padding: 0;
    width: 24px;
    height: 24px;
}